SEARCH_URI=http://hotel-app-search:8080
BOOKING_URI=http://hotel-app-bookings:8000

MONGODB_URI=mongodb://10.132.125.182:3001/hotel-db
REDIS_URI=redis://10.132.125.182:3000

REDIS_RECEIPT_QUEUE=RECEIPT_QUEUE

JWT_SECRET=ourjwtsecretdonottellanyone
